@font-face {
    font-family: 'cubanoregular';
    src: url('../fonts/cubano-regular-webfont.eot');
    src: url('../fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano-regular-webfont.svg#cubanoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* REACOMODAR */

#modal {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#modal > div {
    margin-top: 100px;
    margin-left: 35%;
}

span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


ul.galeria {
    padding:0;
    margin:0;
    list-style:none;
}


ul.list-avisos{
    padding:0;
    margin:0;
    list-style:none;
}
ul.list-avisos img{
    margin-bottom: 5px;
}
ul.list-avisos li .nombre{
    display:block;
    /*border-bottom:1px dotted #CFCFCF;*/
    padding:20px;
    text-decoration:none;
    font-size: 1.5em;
}
ul.list-avisos li span:last-child{
    border-bottom:none;
}
ul.list-avisos li span{
    display:block;
}
ul.list-avisos li span.nombre{
    font-weight:600;
    color:#8F8F8F;
}
ul.list-avisos li table td:nth-child(2) {
    font-size: 1.3em;
}
ul.list-avisos .btn-group{
    padding-top: 20px;
}


/* Header */
#head { background:#181015 url( ../img/Portada.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:190px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family: cubanoregular,"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }
#head img.header-logo{  width:250px; height:250px;}

.menu-principal a {
    color:#46A24A;
}
.menu-principal a:hover {
    color: #57E55E;
	text-decoration: none;
}
	
.huesitos-navbar a:hover {
    color: #57E55E !important;
	text-decoration: none;
} 
.navbar .container{
	margin-bottom: 0px;
}

.nav.navbar-nav.pull-right,.nav.navbar-nav.pull-left{
	padding-top: 13px;
	font-size: 16px;
}
.navbar-inverse .navbar-brand{
padding: 6px 0 10px 15px;
max-width: 75px;
}

.fa.fa-rocket.fa-4{
	font-size: 2.4em;
}

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 60px; color:#333333; margin-bottom:14px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h- { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:16px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map, .map { width:100%; height: 500px }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.container { 
	margin-bottom: 40px;
}

/* Teams content block */
.container.team-container h2{
	margin-bottom: 46px;
}

.row.team-row{
	margin-bottom: 50px;
	text-align: center;
}

.btn-action, .btn-primary{
	background: #2980b9;
}

h2.map-header{
	margin-bottom: 60px; 
}

a.reset-anchor{
	color: #333;
	text-decoration: none;
}

.container h3.main-section-title {
	padding: 28px 0 34px 0;
}

.container .schedule-info-1{
	text-align: center;
	background-color: #289B2E;
	height: 350px;
	line-height: 200px;
	text-decoration: none;
}
.container  a .schedule-info-1{
	text-decoration: none;
}
.container .schedule-info-2{
	text-align: center;
	background-color: #FFC219;
	height: 350px;
	line-height: 200px;
	text-decoration: none;
}
.container .schedule-info h4{
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	border-top: 2px solid #389EE2;
	width: 80%;
	text-align: center;
	margin: 5px auto 10px auto;
	padding-top: 15px;
	padding-bottom: 10px;
}

.container p.tecnobar-info{
	font-weight: bold;
	color: #007CC2;
}

.container p.tecnobar-info a{
	text-decoration: none;
}

.container p.tecnobar-info a:hover{
	color: #1abc9c;
}

.container .schedule-info h4:first-child{ border-top: 0;}

.container .schedule-info p{
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 12px;
}

.jumbotron h3.main-section-title {
	padding: 11px 0 21px 0;
	margin: 0;
}

.prize-row .col-sm-6 img{
	display: block;
	margin: 0 auto; 
	padding-top: 50px;
}

.prize-row .col-sm-6 .prize-info{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 64%;
}

.prize-row .col-sm-6 .prize-info h3{
	font-size: 17px;
	font-weight: bold;
}

.prize-row .col-sm-6 .prize-info p{
	border-bottom: 1px solid #389EE2;
	padding-bottom: 16px;
}


.prize-row .col-sm-12 .disclosure{
	text-align: center;
	padding-top: 32px;
	font-size: 13px;
}

.map *, .map *:before, .map *:after {
    -webkit-transform: none !important; 
}

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 


.event-detail-box p { color:#333; }

.event-detail-box:hover h4, .event-detail-box:hover .fa-5{ color: #2980b9; }


/* Footer */
footer#footer .container {
	margin-bottom: 0;
}

.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.container{ margin-bottom: 30px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container{ margin-bottom: 20px;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.container{ margin-bottom: 20px;}
	}		

.galeria div{
    position: relative;
    float: left;
    border: 1px solid #000;
    margin: 5px;
}
.galeria div:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    padding-left: 5px;
    background: #eee;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    display: block;
    content: "";
}

.galeria div.seleccionado:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '✔';
    color: #000;
    font-size: 2em;
}

