{% extends "base.html" %}
    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}
	<!-- container -->
	<div class="container">
	{% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Dar en adopcion</li>
		</ol>
    {% endblock %}
    
	{% block contenido %}
    <div class="container">
		<div class="row contenido">

            <div id="paso-1">
            <h1 class="cold-md-12">Contanos</h1>

            <!-- Sidebar -->
            <section>
                <aside class="col-md-4 sidebar-left">

                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>¿D&oacute;nde est&aacute;s?</h4>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <div id="formmap" class="map"></div>
                        </div>
                    </div>

                </aside>
                <!-- /Sidebar -->

                <!-- Formulario principal -->
                <div class="col-md-6">
                    <form role="form">
                      <input id="ub-lat" type="hidden" data-bind="textInput: latitud"></input>
                      <input id="ub-lon" type="hidden" data-bind="textInput: longitud"></input>
                      <div class="form-group">
                        <label for="nombre">¿C&oacute;mo se llama?</label>
                        <input type="text" class="form-control" id="nombre" data-bind="textInput: nombre"></input>
                      </div>
                      <div class="form-group">
                        <label for="raza">¿De qu&eacute; raza es?</label>
                        <select class="form-control" id="raza" data-bind="options: raza, optionsText: 'nombre', optionsValue: 'id', value: id_raza"></select>
                      </div>
                      <div class="form-group">
                        <label for="color">¿De qué color es?</label>
                        <select class="form-control" id="color" data-bind="options: opciones_color, optionsText: 'nombre', optionsValue: 'id', value: color"></select>
                      </div>
                      <div class="form-group">
                        <label for="tamanio">Aproximadamente, ¿de qué tamaño tiene?</label>
                        <select class="form-control" id="tamanio" data-bind="options: opciones_tamanio, optionsText: 'nombre', optionsValue: 'id', value: tamanio"></select>
                      </div>
                      <div class="form-group">
                        <label for="edad">Edad</label>
                        <select class="form-control" id="edad" data-bind="options: opciones_edad, optionsText: 'nombre', optionsValue: 'id', value: edad"></select>
                      </div>
                      <div class="form-group">
                        <label for="">Sexo</label>
                        <select class="form-control" id="sexo" data-bind="options: opciones_sexo, optionsText: 'nombre', optionsValue: 'id', value: sexo"></select>
                      </div>
                      <div class="form-group">
                        <input type="checkbox" data-bind="checked: papeles" /><label for="papeles">Tiene papeles</label>
                        <input type="checkbox" data-bind="checked: libreta" /><label for="libreta">Tiene libreta</label>
                      </div>
                      <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.publicar">Ir al paso 2</button>
                    </form>
                </div>
                <!-- /Formulario -->
            </section>
            </div>

            <div id="paso-2">
            <h1 class="col-md-12">Cargá fotos</h1>

            <section>
            <div class="col-md-10">
                <form class="form-imagenes" method="POST" enctype="multipart/form-data" action="/api/imagenes/adopcion/">
                <div data-bind="foreach: { data: imagenes, beforeRemove: beforeRemoveSlot }">
                    <div>
                        <input type="file" accept="image/*" name="imagen"  data-bind="file: imageFile, fileObjectURL: imageObjectURL, fileBinaryData: imageBinary"/>
                        <div data-bind="if: imageObjectURL">
                            <img class="thumb" data-bind="attr: { src: imageObjectURL }"/>
                        </div>
                        <button type="button" data-bind="click: $parent.removeSlot">Eliminar</button>
                    </div>
                </div>
                <input type="hidden" name="adopcion" data-bind="textInput: id"></input>
                <input type="hidden" name="descripcion" data-bind="textInput: nombre"></input>
                <button type="button" data-bind="click: addSlot">Agregar Foto</button>
                <button type="submit" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.subir_fotos">Subir fotos</button>
                </form>
            </div>
            </section>
            </div>

		</div>
		{% endblock %}
	</div>	<!-- /container -->
	
    {% block extra_footer %}

    <script src="{{ STATIC_URL }}js/app/adopcion.js"></script>
    <script src="{{ STATIC_URL }}js/app/imagenes.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
    var formmap;
    $(document).ready(function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
    });
    function success(position) {
        formmap = new GMaps({
            el: '#formmap',
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            height: '360px',
        });
        GMaps.on('click', formmap.map, function(event) {
            var index = formmap.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            actualizar_marcador(lat,lng)
        });
    }

    function error(msg) {
        console.log(msg);
    }

    </script>
    {% endblock %}
