<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Huesitos</title>

	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}js/libs/html5shiv.js"></script>
	<script src="{{ STATIC_URL }}js/libs/respond.min.js"></script>
	<![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body class="home">
    {% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header"><button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"></button>
            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse huesitos-navbar">
                <ul class="nav navbar-nav pull-left">
                    <li><a href="#" data-toggle="dropdown" aria-expanded="true">Busqueda</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-busqueda">
                            <li><a role="menuitem" tabindex="-1" href="/busqueda">Perdí mi perro</a></li>
                            <li><a role="menuitem" tabindex="-1" href="/hallazgo">Encontré un perro</a></li>
                        </ul>
                    </li>
                    <li><p>|</p></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="true">Adopci&oacute;n</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-adopcion">
                            <li><a role="menuitem" tabindex="-1" href="/adopcion">Dar en adopcion</a></li>
                            <li><a role="menuitem" tabindex="-1" href="/adoptar">Adoptar</a></li>
                        </ul>
                    </li>
                    <li>|</li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" aria-expanded="true">Cruza</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-adopcion">
                            <li><a role="menuitem" tabindex="-1" href="/cruza/nueva">Dar de alta cruza</a></li>
                            <li><a role="menuitem" tabindex="-1" href="/cruza">Buscar cruza</a></li>
                        </ul>
                    </li>
                    <li>|</li>
                    <li><a href="/clasificados">Clasificados</a></li>
                    <li>|</li>
                    <li><a href="/veterinarias">Veterinarias</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                  <li>
                  <div class="dropdown">
                   <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> 
                    User
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="/mis_avisos/">Mis avisos</a></li>
                      <li><a href="/mis_mensajes/">Mis mensajes</a></li>
                      <li><a href="/mis_mensajes/">Logout</a></li>
                    </ul>
                    </div>
                  </li>
                    <li><a href="/signin/">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block header %}
    <header id="head">
    </header>
    {% endblock %}

    <div class="container"> 
    {% block menu-principal %}
    {% endblock %}
   
    {% block contenido %}
    {% endblock %}
    </div>

    {% block footer %}
	<footer id="footer" class="top-space">
		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
					</div>

					<div class="col-md-3 widget">
					</div>

					<div class="col-md-6 widget">
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Inicio</a> | 
								<a href="busqueda.html">Búsqueda</a> |
								<a href="adopcion.html">Adopción</a> |
								<a href="cruza.html">Cruza</a> |
								<a href="clasificados.html">Clasificados</a> |
								<a href="veterinarias.html">Veterinarias</a> |
								<b><a href="signup.html">Unite</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, GRUPO406. Diseñado por <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
    {% endblock %}
	<script src="{{ STATIC_URL }}js/libs/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/headroom.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jQuery.headroom.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/template.js"></script>
	<script src="{{ STATIC_URL }}js/libs/moment.js"></script>
	<script src="{{ STATIC_URL }}js/libs/knockout-3.2.0.js"></script>
    {% block extra_footer %}{% endblock %}
</body>
</html>
