{% extends "base.html" %}
    {% block extra_head %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">
    {% endblock %}

    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}

	{% block menu-principal %}
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Búsqueda</li>
		</ol>
    {% endblock %}
    
	{% block contenido %}
    <div class="container">
		<div class="row contenido">

            <div id="paso-1">
            <h1 class="cold-md-12">Contanos</h1>

            <!-- Sidebar -->
            <section>
                <aside class="col-md-4 sidebar-left">

                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>¿Dónde lo perdiste?</h4>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <div id="formmap" class="map"></div>
                        </div>
                    </div>

                </aside>
                <!-- /Sidebar -->

                <!-- Formulario principal -->
                <div class="col-md-6">
                    <form role="form">
                      <input id="ub-lat" type="hidden" data-bind="textInput: latitud"></input>
                      <input id="ub-lon" type="hidden" data-bind="textInput: longitud"></input>
                      <div class="form-group">
                        <label for="fechayhora">¿Cuándo lo viste por última vez?</label>
                            <div class='input-group date' id='fechayhora'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                      </div>
                      <div class="form-group">
                        <label for="raza">¿Podés decirnos de qué raza es?</label>
                        <select class="form-control" id="raza" data-bind="options: raza, optionsText: 'nombre', optionsValue: 'id'"></select>
                      </div>
                      <div class="form-group">
                        <label for="color">¿De qué color es?</label>
                        <select class="form-control" id="color" data-bind="options: color, optionsText: 'nombre', optionsValue: 'id'"></select>
                      </div>
                      <div class="form-group">
                        <label for="tamanio">Aproximadamente, ¿de qué tamaño tiene?</label>
                        <select class="form-control" id="tamanio" data-bind="options: tamanio, optionsText: 'nombre', optionsValue: 'id'"></select>
                      </div>
                      <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.buscar">Ir al paso 2</button>
                    </form>
                </div>
                <!-- /Formulario -->
            </section>
            </div>

            <div id="paso-2">
            <h1 class="col-md-12">Galería</h1>

            <section>
                <div class="col-md-12 galeria" data-bind="foreach: perros_fotos">
                    <div data-bind="html: imagen_perro, click: $root.click_perro, css: { 'seleccionado': estaSeleccionada() }" ></div>
                </div>  
                <div class="col-md-10">
                    <br />
                    <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.cargar_mapa">Ir al paso 3</button>
                </div>
            </section>
            </div>

            <div id="paso-3">
            <h1 class="col-md-12">Mapa</h1>
            <section>
                <button type="button" class="btn btn-default col-md-3 col-md-offset-9" data-bind="click: $root.ver_recorrido">Ver recorrido</button>
                <div class="col-md-12" id="map"></div>
            </section>
            </div>

            <div id="paso-4">
            <h1 class="col-md-12">¿Desea que le notifiquemos en caso de encontrar mascotas con estas características?</h1>

                <div class="col-md-12">
                    <button type="button" class="btn btn-danger">NO, deseo volver al menú principal</button>
                    <button type="button" class="btn btn-warning">NO, deseo modificar mi búsqueda</button>
                    <button type="button" class="btn btn-success">SI, deseo recibir notificaciones</button>
                </div>
            </div>

		</div>
		    {% endblock %}
            </div>
	

    {% block extra_footer %}
	<script src="{{ STATIC_URL }}js/app/busqueda.js"></script>
    <script src="{{ STATIC_URL }}js/libs/moment.js"></script>
    <script src="{{ STATIC_URL }}js/libs/es.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
    var map, formmap;
    $(document).ready(function(){
        $('#fechayhora').datetimepicker();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
        $("#paso-2, #paso-4").hide();
    });
    function success(position) {
        formmap = new GMaps({
            el: '#formmap',
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            height: '360px',
        });
        map = new GMaps({
            el: '#map',
            lat: position.coords.latitude,
            lng: position.coords.longitude 
        });

        GMaps.on('click', formmap.map, function(event) {
            var index = formmap.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            actualizar_marcador(lat,lng)
        });
    }

    function error(msg) {
        console.log(msg);
    }

    </script>
    {% endblock %}
