{% extends "base.html" %}
    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}

	<!-- container -->
    {% block menu-principal %}
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Clasificados</li>
		</ol>
    {% endblock %}

    {% block contenido %}
	<div class="container">
		<div class="row">
            <div class="col-md-8">
                <h1>Clasificados</h1>
            </div>
            <div class="col-md-2">
                <a href="/clasificados/nuevo" class="btn btn-primary btn-lg active" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Publicar Clasificado</a>
            </div>
        </div>
        <div class="row">
		    <aside class="col-md-3 panel panel-success sidebar-left" id="clasificados-sidebar">
                <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Categorías</div>
                <div class="panel-body">
                        <a href="#" class="btn btn-default col-md-12" role="button" data-bind="click: limpiar_filtro">Todas</a>
                    <!-- ko foreach: categorias -->
                        <a href="#" class="btn btn-default col-md-12" role="button" data-bind="text: nombre, click: $parent.filtrar_avisos"></a>
                    <!-- /ko -->
                </div>
            </aside>	

			<!-- Article main content -->
            <div id="modal" style="display: none;">
                <div id="mapa" data-bind="html: imagen_mapa"></div>
            </div>
            <div class="col-md-8" id="clasificados-articulos">
                <!-- ko foreach: clasificados -->
                <div class="panel panel-default" data-bind="visible: id_categoria() == $parent.categoria_activa() || $parent.categoria_activa() == 0 ">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <span data-bind="text: categoria" class="label label-success"></span>
                            <span class="col-md-12">
                                <span class="text-muted">Fecha:</span> <span data-bind="text: fecha"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Usuario:</span> <span data-bind="text: id_usuario"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Precio:</span> $<span data-bind="text: precio"></span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <span class="text-muted">Descripción </span> 
                            <div data-bind="text: descripcion" class="well"></div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-info" data-bind="click: $parent.ver_mapa"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Ver ubicacion</button>
                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar mensaje</button>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
			<!-- /Article -->

		</div>
</div>
    {% endblock %}
	</div>	<!-- /container -->
	
    {% block extra_footer %}
    <script src="{{ STATIC_URL }}js/libs/jasny-bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/modalBox-min.js"></script>
	<script src="{{ STATIC_URL }}js/app/clasificados.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#modal").click(function() { $(this).hide() });
        });
    </script>
    {% endblock %}
