{% extends "base.html" %}
    {% block extra_head %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">
    {% endblock %}

    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}

	{% block menu-principal %}
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/clasificados">Clasificado</a></li>
			<li class="active">Nuevo Clasificado</li>
		</ol>
    {% endblock %}
    
	{% block contenido %}
    <div class="container">
		<div class="row contenido">

            <div id="paso-1">
            <h1 class="cold-md-12">Carg&aacute; tu clasificado</h1>

            <!-- Sidebar -->
            <section>
                <aside class="col-md-4 sidebar-left">

                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>¿Dónde estás?</h4>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <div id="formmap" class="map"></div>
                        </div>
                    </div>

                </aside>
                <!-- /Sidebar -->

                <!-- Formulario principal -->
                <div class="col-md-6">
                    <form role="form">
                      <input id="ub-lat" type="hidden" data-bind="textInput: latitud"></input>
                      <input id="ub-lon" type="hidden" data-bind="textInput: longitud"></input>
                      <div class="form-group">
                        <label for="categoria">Elegí la categoría que identifica tu clasificado</label>
                        <select class="form-control" id="categoria" data-bind="options: categorias, optionsText: 'nombre', optionsValue: 'id', value: id_categoria"></select>
                      </div>
                      <div class="form-group">
                        <label for="precio">Determiná el precio</label>
                        <input class="form-control" id="precio" data-bind="textInput: precio"></select>
                      </div>
                      <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" data-bind="textInput: descripcion"></textarea>
                      </div>
                      <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.publicar">¡Publicar!</button>
                    </form>
                </div>
                <!-- /Formulario -->
            </section>
            </div>

		</div>
		    {% endblock %}
            </div>
	

    {% block extra_footer %}
	<script src="{{ STATIC_URL }}js/app/clasificado_nuevo.js"></script>
	<script src="{{ STATIC_URL }}js/libs/moment.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
    var formmap;
    $(document).ready(function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
    });
    function success(position) {
        formmap = new GMaps({
            el: '#formmap',
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            height: '360px',
        });

        GMaps.on('click', formmap.map, function(event) {
            var index = formmap.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            actualizar_marcador(lat,lng)
        });
    }

    function error(msg) {
        console.log(msg);
    }

    </script>
    {% endblock %}
