{% extends "base.html" %}
    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}
	<!-- container -->
	<div class="container">
	{% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Buscar Cruza</li>
		</ol>
    {% endblock %}
    
	{% block contenido %}
    <div class="container">
		<div class="row contenido">

            <div id="paso-1">
            <h1 class="cold-md-12">Caracteristicas Buscadas</h1>

            <!-- Sidebar -->
            <section>
                <aside class="col-md-4 sidebar-left">

                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>Marcar tu ubicacion</h4>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <div id="formmap" class="map"></div>
                        </div>
                    </div>

                </aside>
                <!-- /Sidebar -->

                <!-- Formulario principal -->
                <div class="col-md-6">
                    <form role="form">
                      <input id="ub-lat" type="hidden" data-bind="textInput: latitud"></input>
                      <input id="ub-lon" type="hidden" data-bind="textInput: longitud"></input>
                      <div class="form-group">
                        <label for="raza">¿Que raza te interesa?</label>
                        <select class="form-control" id="raza" data-bind="options: raza, optionsText: 'nombre', optionsValue: 'id', value: id_raza"></select>
                      </div>
                      <div class="form-group">
                        <label for="color">¿De qué color preferirias?</label>
                        <select class="form-control" id="color" data-bind="options: opciones_color, optionsText: 'nombre', optionsValue: 'id', value: color"></select>
                      </div>
                      <div class="form-group">
                        <label for="tamanio">¿De que tamaño preferirias?</label>
                        <select class="form-control" id="tamanio" data-bind="options: opciones_tamanio, optionsText: 'nombre', optionsValue: 'id', value: tamanio"></select>
                      </div>
                      <div class="form-group">
                        <label for="edad">¿Alguna edad en particular?</label>
                        <select class="form-control" id="edad" data-bind="options: opciones_edad, optionsText: 'nombre', optionsValue: 'id', value: edad"></select>
                      </div>
                      <div class="form-group">
                        <label for="">¿Buscas una Hembra o un Macho?</label>
                        <select class="form-control" id="sexo" data-bind="options: opciones_sexo, optionsText: 'nombre', optionsValue: 'id', value: sexo"></select>
                      </div>
                      <div class="form-group">
                        <input type="checkbox" data-bind="checked: papeles" /><label for="papeles">Con papeles</label>
                        <input type="checkbox" data-bind="checked: libreta" /><label for="libreta">Con libreta</label>
                      </div>
                      <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.buscar">Ir al paso 2</button>
                    </form>
                </div>
                <!-- /Formulario -->
            </section>
            </div>

            <div id="paso-2">
            <h1 class="col-md-12">Galería</h1>

            <section>
                <div class="col-md-12 galeria" data-bind="foreach: perros_fotos">
                    <div data-bind="html: imagen_perro, click: $root.click_perro, css: { 'seleccionado': estaSeleccionada() }" ></div>
                </div>  
                <div class="col-md-10">
                    <br />
                    <button type="button" class="btn btn-default col-md-6 col-md-offset-6" data-bind="click: $root.ver_fichas">Ir al paso 3</button>
                </div>
            </section>
            </div>

            <div id="paso-3">
            <h1 class="col-md-12">Fichas</h1>
            <section>
            <div class="col-md-12" id="fichas">

                <!-- ko foreach: perros_seleccionados-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <span class="col-md-12">
                                <span class="text-muted">Nombre:</span> <span data-bind="text: nombre"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Color:</span> <span data-bind="text: color"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Tamaño:</span> <span data-bind="text: tamanio"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Edad:</span> <span data-bind="text: edad"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Sexo:</span> <span data-bind="text: sexo"></span>
                            </span>
                            <span class="col-md-12">
                                <span class="text-muted">Usuario:</span> <span data-bind="text: id_usuario"></span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <span class="text-muted">Descripción </span> 
                            <div data-bind="html: imagen_perro" class="well"></div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-info" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Ver ubicacion</button>
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar mensaje</button>
                            <button type="button" class="btn btn-success"></span> Solicitar cruza</button>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

            </div>
            </section>
            </div>


		</div>
		{% endblock %}
	</div>	<!-- /container -->
	
    {% block extra_footer %}


    <script src="{{ STATIC_URL }}js/app/cruza.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
    var formmap;
    $(document).ready(function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
        $("#paso-2, #paso-3").hide();
    });
    function success(position) {
        formmap = new GMaps({
            el: '#formmap',
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            height: '360px',
        });
        GMaps.on('click', formmap.map, function(event) {
            var index = formmap.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            actualizar_marcador(lat,lng)
        });
    }

    function error(msg) {
        console.log(msg);
    }

    </script>
    {% endblock %}
