{% extends "base.html" %}
    {% block header %}
    <header id="head">
        <div class="container">
            <div class="row"><img class="header-logo"  src="{{ STATIC_URL }}img/Logo.png" />
            </div>
        </div>
    </header>
    {% endblock %}

    {% block menu-principal %}
    <div class="container">
        <div class="row menu-principal">

            <div class="col-md-2 col-sm-6 col-md-offset-1 col-sm-offset-4 highlight">
                <div class="h-caption">
                    <a href="/busqueda"><img src="{{ STATIC_URL }}img/busqueda.png" ></a>
                </div>
                <div class="h-caption">
                    <a href="/busqueda"><h4>Búsqueda</h4></a>
                    
                </div>
            </div>

            <div class="col-md-2 col-sm-6 highlight">
                <div class="h-caption">
                    <a href="/adopcion"><img src="{{ STATIC_URL }}img/adopcion.png"></a>
                </div>
                <div class="h-caption">
                    <a href="/adopcion"><h4>Adopcion</h4></a>
                </div>

            </div>

            <div class="col-md-2 col-sm-6 highlight">
                <div class="h-caption">
                   <a href="/cruza"> <img src="{{ STATIC_URL }}img/cruza.png" ></a>
                </div>
                <div class="h-caption">
                    <a href="/cruza"><h4>Cruza</h4></a>
                </div>

            </div>

            <div class="col-md-2 col-sm-6 highlight">
                <div class="h-caption">
                    <a href="/clasificados"><img src="{{ STATIC_URL }}img/clasificados.png"></a>
                </div>
                <div class="h-caption">
                    <a href="/clasificados"><h4>Clasificados</h4></a>
                </div>


            </div>

            <div class="col-md-2 col-sm-6 highlight">
                <div class="h-caption">
                    <a href="/veterinarias"><img src="{{ STATIC_URL }}img/veterinarias.png" ></a>
                </div>
                <div class="h-caption">
                    <a href="/veterinarias"><h4>Veterinarias</h4></a>
                </div>

            </div>

        </div>
    </div>
    {% endblock %}
<!--
    <div class="container">
        <div class="row">
            <a class="reset-anchor" name="map-section"></a>

            <h2 class="main-section-title text-center thin map-header"><a class="reset-anchor" name="map-section">¿Qué querés hacer?</a></h2>

            <div class="col-sm-6">
                <a href="./busqueda.html">
                    <div class="schedule-info-1" >
                        <h3>Quiero adoptar un perro</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="./adopcion.html">
                    <div class="schedule-info-2">
                        <h3>Quiero dar en adopción</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- container -->
-->
		
