{% extends "base.html" %}
    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}
	<!-- container -->
	<div class="container">
	{% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Mis anuncios</li>
		</ol>
    {% endblock %}		
		
    {% block contenido %}
		<div class="row">
            <div class="col-md-12">
                <h1>Mis mensajes</h1>
            </div>
			
			<!-- Article main content -->
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-default">
                  <div class="panel-heading">
                    Mensajes
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" id="tab1default">
                            <ul class="list-avisos">
                              <li data-bind="foreach : mensajes">
                              <div class="well">
                                <div class="media">
                                  <!-- Mensaje -->
                                  <span class="titulo col-md-8">
                                    <h4 class="media-heading" data-bind="text: titulo"></h4> 
                                    <p class="text-right" data-bind="text: nombre"></p>
                                    <p data-bind="text: mensaje"></p>
                                  </span>
                                  <span class="col-md-3 btn-group vertical-center" style="margin-top:0px;">
                                    <button type="button" class="btn btn-default col-md-6" data-bind="click: $parent.responder"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="button" class="btn btn-default col-md-6" data-bind="click: $parent.eliminar_mensaje"><span class="glyphicon glyphicon-remove"></span></button>
                                  </span>
                                </div>
                              <div>

                              </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <!-- /Article -->

            <div id="modal" style="display: none;">
                <div class="row response" id="respuesta">
                  <div class="col-sm-8 col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">Responder al mensaje</div>
                      <div class="panel-body">
                        <form action="" method="POST">
                          {% csrf_token %}
                          <input class="form-control" type="text" name="title" placeholder="Titulo" data-bind="value: titulo"><br>
                          <textarea class="form-control" name="message" placeholder="Mensaje" rows="5"
                            style="margin-bottom:10px;" data-bind="value: mensaje"></textarea>
                          <button class="btn btn-info" type="submit" data-bind="click: $root.enviar">Responder</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

		</div>
		{% endblock %}
      </div>	<!-- /container -->

      {% block extra_footer %}
      <script src="{{ STATIC_URL}}js/app/mensajes.js"></script>
      {% endblock %}
