{% extends "base.html" %}
    {% block header %}
	<header id="head" class="secondary"></header>
    {% endblock %}
	<!-- container -->
	<div class="container">
	{% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Mis anuncios</li>
		</ol>
    {% endblock %}		
		
    {% block contenido %}
		<div class="row">
            <div class="col-md-12">
                <h1>Mis Anuncios</h1>
            </div>
			
			<!-- Article main content -->
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">B&uacute;squeda</a></li>
                                <li><a href="#tab2default" data-toggle="tab">Adopci&oacute;n</a></li>
                                <li><a href="#tab3default" data-toggle="tab">Cruza</a></li>
                                <li><a href="#tab4default" data-toggle="tab">Clasificados</a></li>
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1default">
                                <ul class="list-avisos">
                                    <li data-bind="foreach: aviso">
                                        <img src="assets/images/doggie.jpg" class="img-circle col-md-1">
                                        <span class="nombre col-md-8" data-bind="text: nombre"></span>
                                        <span class="col-md-3 btn-group">
                                            <button type="button" class="btn btn-default col-md-6" data-bind="click: $parent.editar_aviso"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button type="button" class="btn btn-default col-md-6" data-bind="click: $parent.eliminar_aviso"><span class="glyphicon glyphicon-remove"></span></button>
                                        </span>
                                        <table class="solicitudes col-md-12 table table-striped">
                                            <tr data-bind="foreach: solicitud">
                                                <td class="col-md-1"></td>
                                                <td class="col-md-6" data-bind="text: nombre"></td>
                                                <td><button type="button" class="btn btn-success col-md-12" data-bind="click: $parent.aceptar_solicitud">Aceptar</button></td>
                                                <td><button type="button" class="btn btn-danger col-md-12" data-bind="click: $parent.rechazar_solicitud">Rechazar</button></td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
			<!-- /Article -->

		</div>
	{% endblock %}
	</div>	<!-- /container -->
	
    {% block extra_footer %}

    <script src="{{ STATIC_URL }}js/libs/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jasny-bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/knockout-3.2.0.js"></script>
	<script src="viewmodel/avisos.js"></script>
	{% endblock %}

