{% extends "base.html" %}
  {% block header %}
  <header id="head" class="secondary"></header>
  {% endblock %}

<div class="container">
  {% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">User access</li>
          </ol>
  {% endblock %}

  {% block contenido %}
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Sign in</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Ingresa con tu cuenta</h3>
							<p class="text-center text-muted">Si no posees una cuenta, <a href="/signup/">registrate</a> y comparte con nosotros esta maravillosa aventura. </p>
							<hr>
							
							<form>
								<div class="top-margin">
									<label>Usuario <span class="text-danger">*</span></label>
									<input data-bind="textInput: username" id="username" type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Contraseña <span class="text-danger">*</span></label>
									<input data-bind="textInput: password" id="password" type="password" class="form-control">
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href="">No recuerdas tu contraseña?</a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button id="login" class="btn btn-action" type="submit" data-bind="click: $root.click_login">Login</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

          </div>
    {% endblock %}
  </div>	<!-- /container -->

  {% block extra_footer %}
  <script src="{{ STATIC_URL }}js/app/login.js"></script>
  {% endblock %}
