{% extends "base.html" %}
  {% block header %}
  <header id="head" class="secondary"></header>
  {% endblock %}

	<!-- container -->
    <div class="container">
      {% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Registration</li>
          </ol>
          {% endblock %}

      {% block contenido %}

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Registra una nueva cuenta</h3>
							<p class="text-center text-muted">Si ya posees una cuenta, <a href="signin.html">Ingresa</a>.</p>
							<hr>

							<form>
								<div class="top-margin">
									<label>Nombre</label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Apellido </label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Email <span class="text-danger">*</span></label>
									<input type="text" class="form-control">
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Contraseña <span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-sm-6">
										<label>Confirmar contraseña <span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox"> 
											He leido los <a href="page_terms.html">Terminos y condiciones</a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<a href="/" id="register" class="btn btn-action" type="submit">Register</a>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

          </div>
          {% endblock %}
        </div>	<!-- /container -->
