{% extends "base.html" %}
    {% block header %}

	<header id="head" class="secondary"></header>
    {% endblock %}

	{% block menu-principal %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Veterinarias</li>
		</ol>
    {% endblock %}
    
    {% block contenido %}
		<div class="row">
            <div class="col-md-12">
                <h1>Veterinarias</h1>
            </div>
			
			<!-- Article main content -->
            <div class="col-md-7">
                <div id="map"></div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">Listado de Veterinarias</h3></div>
                    <div class="panel-body">
                        <table id="resultados" class="table">
                        </table>
                    </div>
                 </div>
            </div>

            <div id="modal" style="display: none;">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ¡Puntuá esta veterinaria!
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <select>
                                    <option>5</option>
                                    <option>4</option>
                                    <option>3</option>
                                    <option>2</option>
                                    <option>1</option>
                                </select> 
                                estrellas
                            <button type="button" class="btn btn-warning" id="puntuar">Enviar puntuación</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
			<!-- /Article -->

		</div>
	{% endblock %}

    {% block extra_footer %}
	<script src="{{ STATIC_URL }}js/app/veterinarias.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/gmaps.js"></script>
    <script type="text/javascript">
    var map;
    $(document).ready(function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
        setTimeout(function() {
            $(".stars").stars();
        }, 2000);
        $("#puntuar").click(enviar_puntuacion);
    });
    function success(position) {
        map = new GMaps({
            el: '#map',
            lat: position.coords.latitude,
            lng: position.coords.longitude 
        });
        cargar_veterinarias();
        map.addMarker({
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            title: "Mi ubicacion",
            icon: {
                url: "http://i.imgur.com/j0BLDDW.png",
                size: new google.maps.Size(32, 32),
            }
        });
        
    }
    function error(msg) {
        console.log(msg);
    }
    </script>
    {% endblock %}
